body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "trebuc";
  src: local("trebuc"), url(./assets/fonts/trebuc.ttf) format("truetype");
}

@font-face {
  font-family: "Trebuchet";
  src: local("Trebuchet_MS"),
    url(./assets/fonts/Trebuchet_MS.ttf) format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
